:root {
    --bg-color: #ffffff;
    --white: #ffffff;
    --lightblue: #DCE3EA;
    --black: #000000;
    --black-lighter: #37373E;
    --black-darker: #151517;
    --black-bg-darker-10: rgba(30, 30, 33, .1);
    --black-darker-20: rgba(21, 21, 23, .2);
    --orange: #F76300;
    --orange-12: rgba(247, 99, 0, .12);
    --orange-25: rgba(247, 99, 0, .25);
    --gray: #727274;
    --gray-darker: #8E8D96;
    --action: var(--orange);
    --form-field-bg: rgba(189, 189, 201, .2);
    --scrollbar-bg-color: #F76300;
    --lighter-bg: #F5F5F7;
    --separator-line: rgb(177, 178, 181, .4);
    --transition: .3s ease;
    --bg-lightgray: #F7F9FC;
    --bg-lightblue: #EBEEF2;
    --bg-grayblue: #8E8E8E;
    --light-purple: #E1DFF1;
    --light-purple-l: #D4D2E3;
}
