.btn {
    user-select: none;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.75rem;
    font-family: 'Manrope';
    line-height: 3.625rem;
    font-weight: 800;
    font-size: 1rem;
    background-color: var(--action);
    border: 1px solid var(--action);
    border-radius: 6.25rem;
    outline: none;

    span {
        position: relative;
        z-index: 1;
        letter-spacing: -1px;
        color: var(--white);
    }

    @media (hover: hover) {
        &:hover {
            border: 1px solid var(--white);
            box-shadow: 0 0 0 1.5px var(--orange);
        }
    }

    &.btn-secondary {
        background-color: var(--orange-12);
        border: 1px solid var(--orange-12);

        span {
            color: var(--action);
        }

        @media (hover: hover) {
            &:hover {
                border: 1px solid var(--action);
                box-shadow: none;
            }
        }
    }

    &.btn-transparent {
        background-color: transparent;
        border: 1px solid var(--black-darker-20);
        transition: var(--transition);

        span {
            color: var(--black-darker);
        }

        @media (hover: hover) {
            &:hover {
                background-color: transparent;
                border: 1px solid var(--action);
                box-shadow: none;

                span {
                    color: var(--action);
                }
            }
        }
    }
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.25rem;
        min-width: 2.25rem;
        height: 2.25rem;
        border-radius: .5rem;
        background-color: var(--black-bg-darker-10);
        border: 1px solid var(--black-bg-darker-10);

        @media (hover: hover) {
            &:hover {
                background-color: transparent;
            }
        }
    }
}


.btn-select {
    position: relative;
    display: block;
    user-select: none;
}

.btn-select-trigger {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3.25rem;
    font-weight: 800;
    font-size: .875rem;
    line-height: 1rem;
    color: var(--black-darker);
}

.btn-select-trigger svg {
    margin-left: .75rem;
}

.btn-select-trigger svg path {
    stroke: var(--black-darker);
}

.btn-select-menu {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: calc(100% + .75rem);
    left: 0;
    right: 0;
    width: 100%;
    padding: 1rem .25rem 1rem 1rem;
    background-color: var(--bg-lightgray);
    box-shadow: 0px 21px 8px rgba(133, 147, 147, 0.01), 0px -10px 7px rgba(133, 147, 147, 0.05), 0px 5px 5px rgba(133, 147, 147, 0.09), 0px 1px 3px rgba(133, 147, 147, 0.1);
    border-radius: .75rem;
    opacity: 0;
    visibility: hidden;
}

.btn-select-menu :is(span, a) {
    display: inline-block;
    font-weight: 800;
    font-size: .75rem;
    line-height: 1rem;
    opacity: .5;
    color: var(--black-darker);
}


.btn-select-menu :is(span, a):not(:last-child) {
    margin-bottom: 1rem;
}

.btn-select-menu a {
    opacity: 1;
}

.btn-select.open .btn-select-trigger {
    color: var(--orange);
}

.btn-select svg {
    width: 1rem;
    min-width: 1rem;
    height: 1rem;
}

.btn-select.open svg path {
    stroke: var(--orange);
}

.btn-select.open .btn-select-menu {
    opacity: 1;
    visibility: visible;
}

.btn-select.open .btn-select-trigger svg {
    transform: rotate(-180deg);
}


@media (hover: hover) {
    :is(.btn-select-menu a:hover, .btn-select-trigger:hover, .btn-select-trigger:hover svg path) {
        color: var(--orange);
        stroke: var(--orange);
    }
}
