.form-field {
    display: block;
    width: 100%;
    padding: 0 1.25rem;
    font-size: .875rem;
    font-weight: 500;
    line-height: 2.625rem;
    background-color: var(--form-field-bg);
    color: var(--black);
    border-radius: .75rem;
    border: 1px solid var(--form-field-bg);

    &::-webkit-input-placeholder {
        color: var(--gray);
    }

    &::-moz-placeholder {
        color: var(--gray);
    }

    &:-ms-input-placeholder {
        color: var(--gray);
    }

    &:-moz-placeholder {
        color: var(--gray);
    }

    &:focus {
        border: 1px solid var(--action);
    }

    &:not(:last-child) {
        margin-bottom: 1.25rem;
    }

    @media (hover: hover) {
        &:hover {
            border: 1px solid var(--action);
        }
    }

    &.form-field-textarea {
        padding: .75rem 1rem;
        min-height: 7.1875rem;
        line-height: 1.3;
        resize: none;
    }
}

form {
    .btn {
        margin-top: .75rem;
    }

    .btn-transparent {
        width: 100%;
        line-height: 2.625;
    }

    .checkbox-field {
        cursor: pointer;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 1.25rem;

        svg {
            margin-right: .5rem;

            rect {
                stroke: var(--action);
            }

            path {
                opacity: 0;
                stroke: var(--action);
            }
        }

        span {
            margin: 0;
            font-size: .75rem;
            line-height: 1.1rem;
            font-weight: 500;
            color: var(--black-lighter);
            transform: translateY(2px);

            a {
                color: var(--black-darker);
                text-decoration: underline;

                @media (hover: hover) {
                    &:hover {
                        color: var(--action);
                        text-decoration: none;
                    }
                }
            }
        }

        input {
            display: none;
        }

        input:checked ~ svg path {
            opacity: 1;
        }
    }

    .form-field-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.25rem;

        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }

        &:not(:last-child) {
            margin-bottom: 1.25rem;
        }

        > * {
            width: calc(50% - .0625rem);

            @media (max-width: 767px)  {
                width: 100%;
            }
        }
    }

    .form-field-wrapper {
        > span {
            display: block;
            margin-bottom: .5rem;
            font-size: .875rem;
            line-height: 1;
            font-weight: 700;

            strong {
                color: var(--orange);
            }
        }
    }
}