.about {
    &:not(:last-child) {
        padding-bottom: 10rem;

        @media (max-width: 1100px) {
            padding-bottom: 6.25rem;
        }

        @media (max-width: 992px) {
            padding-bottom: 4.375rem;
        }
    }

    .about-cnt {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 2rem;

        @media (max-width: 992px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .about-img {
            width: min(100%, 28.625rem);
            min-width: 28.625rem;
            border-radius: 2.75rem;
            overflow: hidden;

            @media (max-width: 992px) {
                width: min(100%, 20rem);
                min-width: 0;
                order: 2;
            }

            img {
                width: 100%;
            }
        }

        .about-info {
            width: min(100%, 44.875rem);

            @media (max-width: 992px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                width:100%;
                order: 1;
            }

            .about-quote {
                display: inline-flex;
                align-items: center;
                gap: .25rem;
                align-self: flex-start;
                margin-bottom: 1.5rem;
                padding: .5rem;
                font-size: .875rem;
                color: var(--black-darker);
                border-radius: .75rem;
                background-color: var(--bg-lightblue);
            }

            h3 {
                width: 100%;
                line-height: 1.5;
                color: var(--black-lighter);

                &:not(:last-child) {
                    margin-bottom: 1rem;
                }

                strong {
                    color: var(--black-darker);
                }
            }

            p {
                width: 100%;
                color: var(--black-lighter);

                &:not(:last-child) {
                    margin-bottom: 3.5rem;

                    @media (max-width: 992px) {
                        margin-bottom: 2rem;
                    }
                }
            }

            .btn {
                @media (max-width: 992px) {
                    width: min(100%, 20rem);
                    margin: 0 auto;
                }
            }
        }
    }

    &.about-half {
        .about-cnt {
            align-items: center;
            gap: 0;

            @media (max-width: 992px) {
                gap: 2rem;
            }

            .about-img {
                width: 50%;
                min-width: 0;
                border-radius: 2rem;

                @media (max-width: 1100px) {
                    width: 40%;
                }

                @media (max-width: 992px) {
                    width: 100%;
                    max-width: 30rem;
                }
            }

            .about-info {
                width: 50%;
                padding: 0 3rem;

                @media (max-width: 1100px) {
                    width: 60%;
                }

                @media (max-width: 992px) {
                    width: 100%;
                    padding: 0;
                }

                h2 {
                    @media (min-width: 993px) {
                        font-size: 2.75rem;
                        margin-bottom: 1rem;
                    }
                }

                p {
                    @media (min-width: 993px) {
                        font-size: 1.25rem;

                        &:not(:last-child) {
                            margin-bottom: 1rem;
                        }
                    }
                }

                .btn {
                    margin-top: .75rem;
                }
            }
        }
    }
}

.about-light {
    .about-cnt {
        align-items: center;
        gap: 3.5rem;

        @media (max-width: 1200px) {
            align-items: flex-start;
            gap: 1.5rem;
        }

        @media (max-width: 992px) {
            align-items: center;
            gap: 3rem;
        }

        .about-img {
            width: min(100%, 34rem);
            border-radius: 1.125rem;
        }

        .about-info {
            @media (max-width: 992px) {
                text-align: center;
            }

            h2 {
                margin-bottom: 1rem;

                @media (min-width: 1101px) {
                    font-size: 2.75rem;
                }
            }

            p {
                font-size: .875rem;
                line-height: 1.7;

                strong {
                    font-weight: 700;
                }

                &:not(:last-child) {
                    margin-bottom: .875rem;
                }
            }

            .social {
                justify-content: flex-start;
                gap: .5rem;
                margin-top: 1.5rem;

                a {
                    border: 1px solid var(--black-bg-darker-10);
                    border-radius: .75rem;

                    @media (hover: hover) {
                        &:hover {
                            border: 1px solid var(--orange);
                        }
                    }
                }
            }
        }
    }
}

.about-group {
    &:not(:last-child) {
        padding-bottom: 10rem;

        @media (max-width: 1100px) {
            padding-bottom: 6.25rem;
        }

        @media (max-width: 992px) {
            padding-bottom: 4.375rem;
        }
    }

    .about-group-heading {
        h2 {
            margin-bottom: 1.5rem;
            text-align: center;
        }

        p {
            margin-bottom: 4rem;
            text-align: center;
        }
    }

    .about {
        &:not(:last-child) {
            padding-bottom: 5rem;

            @media (max-width: 1100px) {
                padding-bottom: 4rem;
            }

            @media (max-width: 992px) {
                padding-bottom: 3rem;
            }
        }

        .about-img {
            @media (max-width: 992px) {
                order: 1;
            }
        }

        .about-info {
            @media (max-width: 992px) {
                order: 2;
            }
        }
    }
}