.reviews {
    &:not(:last-child) {
        padding-bottom: 10rem;

        @media (max-width: 1100px) {
            padding-bottom: 6.25rem;
        }

        @media (max-width: 992px) {
            padding-bottom: 4.375rem;
        }
    }

    .wrapper > h2 {
        text-align: center;
        margin-bottom: .75rem;
    }

    .wrapper > p {
        text-align: center;
        margin-bottom: 2.5rem;
    }

    .reviews-item {
        padding: 2rem;
        background-color: var(--white);
        border: 1px solid var(--light-purple);
        border-radius: 1.5rem;

        .reviews-item-img {
            width: 4rem;
            min-width: 4rem;
            height: 4rem;
            margin-bottom: 1.5rem;
            border-radius: 50%;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        :is(h4, h5, p) {
            line-height: 1.5;
        }

        :is(h4, h5) {
            font-weight: 700;
        }

        h4 {
            margin-bottom: .75rem;
            font-size: 1.25rem;

            + p {
                margin-bottom: 1.5rem;
            }
        }

        :is(h5, p) {
            font-size: .75rem;
        }

        p {
            margin-bottom: 0;
        }

        h5 {
            margin-bottom: .25rem;
        }
    }

    .reviews-slider {
        position: relative;
        padding-bottom: 4rem;

        .splide__arrows {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .75rem;
            width: 100%;

            .splide__arrow {
                position: relative;
                left: auto;
                right: auto;
                top: auto;
                bottom: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2.625rem;
                height: 2.625rem;
                min-width: 2.625rem;
                border: 1px solid var(--light-purple-l);
                border-radius: 50%;
                background-color: var(--white);
                opacity: 1;
                transform: translate(0);

                svg {
                    display: none;
                }

                &::before {
                    content: '';
                    display: block;
                    width: 1.125rem;
                    height: 1.125rem;
                    min-width: 1.125rem;
                    background-image: url('../../images/arrow-left-dark.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }

                &[disabled] {
                    pointer-events: none;
                    opacity: .5;
                    background-color: var(--light-purple-l);
                }

                @media (hover: hover) {
                    &:not([disabled]):hover {
                        background-color: var(--orange);
                        border-color: var(--orange);

                        &::before {
                            background-image: url('../../images/arrow-left-light.svg');
                        }
                    }
                }
            }

            .splide__arrow--next::before {
                transform: translate(0) rotate(180deg);
            }
        }
    }
}
